.filter-shell {
  background: #0d1323;
  border-radius: var(--radius);
  padding: 20px 24px 30px 24px;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

@media (max-width: 767.98px) {
  .filter-shell {
    border-radius: var(--radius);
  }
}
